<div class="container">
    <div class="row">
        <div class="col-md-10">
            <table class="table table-bordered" style="width:90%;margin:auto;border-color: black;">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Product Name</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let d of products">
                        <td>
                            <input class="form-check-input" type="checkbox" name="selected" (change)="setSelected()"
                                value="{{d.productid}}" (ngModal)="d.selected" />
                        </td>
                        <td>{{d.productname}}</td>
                        <td>{{d.quantity}}</td>
                        <td>{{d.price}}</td>
                    </tr>
                </tbody>
            </table>
            <div class="col-md-10">
                <button type="button" class="btn btn-primary" (click)="onSave()">Submit</button>
            </div>
            <!-- <button type="button" value="selectAll" class="main" (click)="setSelected()">Select All</button>
            <button type="button" value="deselectAll" class="main" onclick="uncheckAll()">Clear</button> -->
        </div>

    </div>

</div>